.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.row3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
