.col-dt-9 {
    flex: 0 0 74.99997%;
    max-width: 74.99997%;
}
ol,
ul {
    list-style: none;
}
.menu-wrapper {
}
.menu {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
}
.menu li {
    padding-left: 20px;
    padding-right: 20px;
}
.menu a {
    display: block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: rgb(88, 81, 81);
}
.menu li :hover {
    color: black;
}
