.slider-section {
    position: relative;
}

.slider-img {
    width: 100%;
}
.slider-title {
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    position: absolute;
    width: 64.666%;
    margin: 0 auto;
    right: 0;
    left: 0;
    top: 40%;
}
